:root {
	--black: #21252b;
	--gray: #323844;
	--red: #e06c75;
	--green: #98c379;
	--yellow: #e5c07b;
	--blue: #61afef;
	--magenta: #c678dd;
	--cyan: #56b6c2;
	--white: #abb2bf;
}

.red {
	color: var(--red);
}

.green {
	color: var(--green);
}

.blue {
	color: var(--blue);
}

.cyan {
	color: var(--cyan);
}

html {
	background: var(--black);
	color: var(--white);
	max-width: 100vw;
	font-size: 1.3rem;
}

body {
	margin: 0;
}

p {
	text-align: justify;
}

.navigation {
	font-family: "Inconsolata", monospace;
	background: var(--gray);
}

.navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.navigation li {
	display: flex;
}

.navigation a {
	padding: .65rem;
	text-decoration: none;
	color: inherit;
}

.navigation a.current,.navigation a:hover {
	background: var(--black);
}

.prompt {
	display: inline-block;
	font-size: 0;
	font-family: "Inconsolata", monospace;
	line-height: 1;
}

.prompt span {
	font-size: 1rem;
}

.prompt span:last-child {
	width: max-content;
	padding-right: .2rem;
	animation: blink .5s step-end infinite alternate;
	border-right: .55rem solid var(--white);
}

.markdown-body {
	box-sizing: border-box;
	font-size: .8rem !important;
	min-width: 50%;
	max-width: 75%;
	margin: 0 auto !important;
	padding: 45px;
}

.markdown-body.dark {
	color-scheme: dark;
	--color-fg-default: #e6edf3;
	--color-fg-muted: #848d97;
	--color-fg-subtle: #6e7681;
	--color-canvas-default: var(--black) !important;
	--color-canvas-subtle: var(--gray) !important;
	--color-border-default: var(--white) !important;
	--color-border-muted: var(--gray) !important;
	--color-neutral-muted: rgba(110,118,129,0.4);
	--color-accent-fg: var(--blue) !important;
	--color-accent-emphasis: #1f6feb;
	--color-success-fg: #3fb950;
	--color-success-emphasis: #238636;
	--color-attention-fg: #d29922;
	--color-attention-emphasis: #9e6a03;
	--color-attention-subtle: rgba(187,128,9,0.15);
	--color-danger-fg: #f85149;
	--color-danger-emphasis: #da3633;
	--color-done-fg: #a371f7;
	--color-done-emphasis: #8957e5;
}

code span.al { color: #ff7b72; }
code span.an { color: #8b949e; font-weight: bold; }
code span.at { color: #79c0ff; }
code span.bn { color: #79c0ff; }
code span.bu { color: #ffa657; }
code span.cf { color: #ff7b72; }
code span.ch { color: #79c0ff; }
code span.cn { color: #79c0ff; font-weight: bold; }
code span.co { color: #8b949e; }
code span.cv { color: #8b949e; font-weight: bold; }
code span.do { color: #8b949e; }
code span.dt { color: #79c0ff; }
code span.dv { color: #79c0ff; }
code span.er { color: #ff7b72; }
code span.ex { }
code span.fl { color: #79c0ff; }
code span.fu { color: #d2a8ff; }
code span.im { color: #ff7b72; }
code span.in { color: #8b949e; font-weight: bold; }
code span.kw { color: #ff7b72; }
code span.op { color: #79c0ff; }
code span.ot { color: #d2a8ff; }
code span.pp { color: #ff7b72; font-weight: bold; }
code span.sc { color: #79c0ff; }
code span.ss { color: #a5d6ff; }
code span.st { color: #a5d6ff; }
code span.va { }
code span.vs { color: #a5d6ff; }
code span.wa { color: #8b949e; font-weight: bold; }

@media (max-width: 767px) {
	.markdown-body {
		padding: 15px;
		max-width: 100%;
	}
	html {
		font-size: 1rem;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}
